header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

p{
    text-align: left;
}

@media(max-width:600px){
    header p{
        font-size: 1rem;
    }
}